<%= simple_form_for(@post) do |f| %>
  <div class="field">

    <%= f.input :title %>
  </div>
  <div class="field">

    <%= f.input :content %>
  </div>
	<%= f.association :categories, :as => :check_boxes, :label_method => :nombre %>
  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>
