<h1>Lista de posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
  </tr>
<% @posts.each do |post| %>

 <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to post.user.email, user_path(post.user) %></td>
	<td><%= post.updated_at %></td>
	<td><%= link_to 'Ver', post %></td>
	<% if user_signed_in? and current_user == post.user %>
	    <td><%= link_to 'Editar', edit_post_path(post) %></td>
    	<td><%= link_to 'Eliminar', post, confirm: 'Are you sure?', method: :delete %></td>
 	<% end %>
 </tr>
<% end %>
</table>

<br><br>
<%= paginate @posts %>

<br />
	<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %> |
<%= link_to 'ppal', ppal_index_path %>
	<% else %>
<%= link_to 'ppal', ppal_index_path %>
	<% end %>


